php_value short_open_tag 1
php_value date.timezone 'Europe/Moscow'
php_flag display_errors on

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

	RewriteRule ^/bitrix/(.*) /bitrix/$1 [L]

	RewriteRule ^$ index.php?vendor=zaur&module=zaur.test&scope=site&action=index.index [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^\/]+)/$ index.php?vendor=zaur&module=zaur.test&scope=site&action=$1.index [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^\/]+)/([^\/]+)/.*$ index.php?vendor=zaur&module=zaur.test&scope=site&action=$1.$2 [L]
</IfModule>
