<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ APPLICATION.GetTitle() }}{% endblock %}</title>
</head>
<body>
	<header>
		{% if USER.IsAdmin() %}
			Привет, {{ USER.GetLogin() }}!
		{% else %}
			Привет, гость!
		{% endif %}
	</header>
	<div>
		{% block content %}{% endblock %}
	</div>
	<footer>footer</footer>
</body>
</html>